<p>side-nav works!</p>
<div  class="card" style="width: 20em; height:0 auto;">
    <div class="logo_details flex mb-2">
        <!-- <i class="bx bxl-audible icon"></i> -->
        <div class="logo_name ">
            <!-- Code Effect -->
            <div class="rounded-full  absolute  mt-2 p-5 shadow-lg ">
                <img src="/images/emb.ico" width="100" alt="">
            </div>
            <span>
            <h2 class="text-sm tracking-widest  text-black-300 text-center">{{username}}</h2>
            <h2 class=" font-semibold text-sm tracking-widest text-center" style="font-size: 0.7rem;">{{role}}</h2>
            </span>
        </div>
        <i class="fa fa-bars" style="top: 2px; right: 2px;"id="btn" (click)="closeBtn()"></i>
    </div>
    <div>
        <a href="#" class="btn btn-success" style="width:20em; height: 3em;">Dashboard</a>
    </div> 
    <div>
        <a href="/sout" class="btn btn-success" style="width:20em; height: 3em;">Sout</a>
    </div>
    <div>
        <a href="/shirts" class="btn btn-success" style="width:20em; height: 3em;">Shirts</a>
    </div> 
    <div>
        <a href="/trousers" class="btn btn-success" style="width:20em; height: 3em;">Trousers</a>
    </div>
    <div>
        <a href="/gauni" class="btn btn-success" style="width:20em; height: 3em;">Gauni</a>
    </div> 
    <div>
        <a href="#" class="btn btn-success" style="width:20em; height: 3em;">Go somewhere</a>
    </div>  

</div> 